.project {
  border: 1px solid;
  border-color: #8c82fc;
  width: 100%;
  border-radius: 16px;
  min-height: 380px;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  max-width: 800px;
}

.project:hover {
  transform: translateY(-4px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  background-color: #343448;
}

.project-content {
  padding: 2rem;
}

.project-heading {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .project-container {
    grid-template-columns: 1fr;
  }

  .project {
    min-height: auto;
  }
}
