.experience-container {
  display: flex;
  gap: 20px;
  position: relative;
}

.bar {
  width: 2px;
  background-color: #8c82fc;
  align-self: stretch;
  flex-shrink: 0;
  flex-grow: 0;
}

.experience-item {
  display: flex;
  flex-direction: column;
}

.experience-row {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

.subsection-body {
  margin-bottom: 30px;
}
