@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #e0e0e0;
  background-color: #1a1a2e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #e0e0e0;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #e0e0e0;
    background-color: #1a1a2e;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: transparent;
    color: #e0e0e0;
  }
}

/* my css */
.highlight {
  color: #8c82fc;
}

.btn {
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  border-color: #676ee9;
  transition: background-color 0.2s ease 0.1s;
}

.btn:hover {
  background-color: #676ee9;
}

.subsection {
  padding: 2rem 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-width: 100%;
}

.subsection-title {
  width: 100%;
  max-width: 800px;
  text-align: left;
  font-size: 32px;
}

.subsection-body {
  padding: 12px 0;
  color: #c0c0c0;
  max-width: 800px;
  width: 100%;
}

p {
  line-height: 2;
  color: #c0c0c0;
}

li {
  line-height: 2;
}

#about {
  padding: 1rem;
}

#experience {
  padding: 1rem;
}
#projects {
  padding: 1rem;
}
